@font-face {
    font-family: 's';
    src: url(fnt/Stem-Regular.woff2) format('woff2'), url(fnt/Stem-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'sm';
    src: url(fnt/Stem-Medium.woff2) format('woff2'), url(fnt/Stem-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'sn';
    src: url(fnt/Stem-Bold.woff2) format('woff2'), url(fnt/Stem-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

.container-fluid {
    max-width: 1920px;
    padding-left: 100px;
    padding-right: 100px;
}

body {
    font-family: s;
    font-size: 25px;
}

header {
    background-color: black;
    margin-bottom: 122px;
}

header>.container-fluid {
    height: 64rem;
    padding-top: 4.188rem;
    background-image: url(img/img-header.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 75rem;
    padding-bottom: 4.438rem;
}

.title {
    font-family: sm;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bar {
    width: 206px;
    height: 43px;
}

.bar-2 {
    width: 246px;
    height: 41px;
}

.bar-3 {
    width: 160.79px;
    height: 67px;
}

.inf {
    padding-top: 300px;
    color: #FFFFFF;
}

footer {
    background-color: black;
    color: #FFFFFF;
    font-family: s;
    font-size: 21px;
    line-height: 30px;
    padding-top: 92px;
    padding-bottom: 88px;
}

.logo-vk {
    width: 40px;
    height: 23px;
}

.partner-txt {
    font-family: s;
    color: #FFFFFF;
    font-size: 37px;
    line-height: 52px;
}

.partner {
    margin-bottom: 100px;
}

span {
    font-family: s;
    font-size: 16px;
    line-height: 19px;
    color: #FAB529;
}

.parnter-logo {
    padding-bottom: 20px;
    padding-top: 10px;
}

.line-yellow {
    background-color: #FAB529;
    border-radius: 15px;
    padding-bottom: 75px;
    padding-left: 56px;
    padding-right: 61px;
}

.winner-num {
    font-family: 'sn';
    font-size: 85px;
    margin-bottom: -20px;
}

.place {
    font-family: 'sm';
    font-size: 34px;
    color: #FAB529;
    text-transform: uppercase;
}

.sub-title-1 {
    font-family: 'sm';
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 75px;
}

.sub-title-1-1 {
    font-family: 'sm';
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 0px;
}


/*.num-6 {
    margin-top: -25px;
}*/

.title-2 {
    font-family: 'sm';
    font-size: 80px;
    line-height: 88px;
    text-transform: uppercase;
    color: #383937;
}

.list-group>.list-group-item {
    border: none;
    padding-top: 0%;
}

.arrow {
    font-size: 130px;
    line-height: 45px;
    font-weight: lighter;
    color: #FAB529;
    padding-right: 18px;
    padding-top: 0%;
    padding-left: 32px;
}

.img-win {
    margin-bottom: 26px;
}

.inf-win {
    font-family: 'sn';
    width: 120%;
}

.about-win {
    margin-top: 114px;
    margin-bottom: 137px;
}

.text-37 {
    font-size: 37px;
}

.date-2 {
    margin-left: 5px;
    margin-top: 9px;
    background: #FAB529;
    border: 2px solid #FAB529;
    box-sizing: border-box;
    border-radius: 48.4946px;
    font-family: s;
    font-size: 37px;
    line-height: 140%;
    color: #383937;
    z-index: 2;
    padding: 5.29px 25.57px 3.53px 25.57px;
}

.d-1 {
    padding-bottom: 13px;
}

.badge-fond {
    padding-left: 7rem;
}

.content-3 {
    margin-bottom: 137px;
}

.row1 {
    margin-top: 67px;
}

.img-index-1 {
    margin-top: 86px;
    margin-bottom: 64px;
}

.content-4 {
    margin-bottom: 137px;
}

.txt-special-win {
    margin-top: 31px;
    margin-bottom: 26px;
}

.txt-end {
    height: 32%;
}

.inf-param {
    background-color: #FAB529;
    margin-top: 132px;
    padding-top: 86px;
    padding-bottom: 86px;
}

.sucesions-img {
    margin-top: 69px;
    margin-bottom: 90px;
}

.polylog {
    height: 24px;
    width: auto;
}

@media (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    header {
        margin-bottom: 45px;
    }
    header>.container-fluid {
        height: 50.75rem;
        padding-top: 1.438rem;
        padding-bottom: 4.438rem;
        background-repeat: no-repeat;
        background-position-x: -42vw;
        background-size: 45rem;
    }
    .title {
        font-size: 32px;
    }
    .bar {
        width: 85.21px;
        height: 17.79px;
        padding-bottom: 56px;
        z-index: 2;
    }
    .bar-2 {
        width: 101.76px;
        height: 16.96px;
        z-index: 2;
    }
    .bar-3 {
        width: 66.51px;
        height: 27.71px;
        z-index: 2;
    }
    .inf-2 {
        font-size: 13px;
        line-height: 20px;
    }
    footer {
        font-size: 11px;
        padding-top: 31px;
        padding-bottom: 31px;
    }
    span {
        font-size: 8px;
    }
    .partner-txt {
        font-size: 19px;
        line-height: 27px;
        margin-bottom: 28px;
    }
    .partner {
        margin-bottom: 99px;
    }
    .parnter-logo {}
    .img-log {
        width: 130.21px;
    }
    .winner-num {
        font-family: 'sn';
        font-size: 42px;
        margin-bottom: -9px;
        margin-top: 18px;
    }
    .place {
        font-family: 'sm';
        font-size: 13px;
        color: #FAB529;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    .sub-title-1 {
        font-family: 'sm';
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    .sub-title-1-1 {
        font-family: 'sm';
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    ul {
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .title-2 {
        font-size: 33px;
        line-height: 35px;
    }
    .arrow {
        font-size: 40px;
        line-height: 17px;
        padding-left: 8px;
        padding-top: 0%;
        padding-left: 0px;
    }
    .list-group>.list-group-item {
        border: none;
        padding-top: 0%;
        padding-left: 0px;
    }
    .img-win {
        margin-bottom: 20px;
    }
    .inf-win {
        width: 100%;
    }
    .about-win {
        margin-top: 43px;
        margin-bottom: 33px;
    }
    .text-37 {
        font-size: 19px;
    }
    .date-2 {
        font-size: 18px;
        color: #383937;
        padding: 2.77px 13.39px 1.85px 13.39px;
    }
    .d-1 {
        padding-bottom: 13px;
    }
    .row1 {
        margin-top: 30px;
    }
    .badge-fond {
        padding-left: 0rem;
    }
    .place-1 {
        margin-bottom: 0px;
    }
    .cont-5 {
        margin-top: 24px;
    }
    .cont-6 {
        margin-top: 10px;
    }
    .content-3 {
        margin-top: 65px;
        margin-bottom: 66px;
    }
    .img-index-1 {
        margin-top: 26px;
        margin-bottom: 26px;
    }
    .content-4 {
        margin-bottom: 38px;
    }
    .txt-special-win {
        margin-top: 16px;
        margin-bottom: 18px;
    }
    .txt-end {
        height: auto;
    }
    .inf-param {
        margin-top: 37px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sucesions-img {
        margin-top: 38px;
        margin-bottom: 38px;
    }
    .polylog {
        height: 12px;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 839px) {
    body {
        font-size: 14px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    header {
        margin-bottom: 45px;
    }
    header>.container-fluid {
        height: 74.625rem;
        padding-top: 3.125rem;
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: 60rem;
    }
    .title {
        font-size: 3.688rem;
        line-height: 4.063rem;
    }
    .bar {
        width: 148.06px;
        height: 30.91px;
        padding-bottom: 102px;
        z-index: 2;
    }
    .bar-2 {
        width: 176.81px;
        height: 29.47px;
        z-index: 2;
    }
    .bar-3 {
        width: 115.56px;
        height: 48.16px;
        z-index: 2;
    }
    .inf {
        width: 379px;
        font-size: 16px;
        padding-top: 1.25rem;
        line-height: 24px;
    }
    footer {
        font-size: 11px;
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .img-log {
        width: 102px;
        height: 21px;
    }
    span {
        font-size: 8px;
    }
    .img-vk {
        width: 18px;
    }
    .partner-txt {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 27px;
    }
    .partner {
        margin-bottom: 70px;
    }
    .parnter-logo {
        padding-bottom: 17px;
    }
    .line-yellow {
        background-color: #FAB529;
        border-radius: 15px;
        padding-bottom: 22px;
        padding-left: 54px;
        padding-right: 54px;
        margin-bottom: 15px;
    }
    .winner-num {
        font-family: 'sn';
        font-size: 43px;
        margin-bottom: -9px;
    }
    .place {
        font-family: 'sm';
        font-size: 14px;
        color: #FAB529;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .sub-title-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    .sub-title-1-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    .num-6 {
        margin-top: 0px;
    }
    ul {
        padding-left: calc(var(--bs-gutter-x) * .75);
    }
    .title-2 {
        font-size: 40px;
        line-height: 45px;
    }
    .arrow {
        font-size: 50px;
        line-height: 23px;
        padding-right: 11px;
        padding-top: 0%;
        padding-left: 0px;
    }
    .img-win {
        margin-bottom: 20px;
    }
    .inf-win {
        width: 100%;
    }
    .about-win {
        margin-top: 43px;
        margin-bottom: 33px;
    }
    .text-37 {
        font-size: 19px;
    }
    .date-2 {
        font-size: 26px;
        color: #383937;
        padding: 2.77px 13.39px 1.85px 13.39px;
    }
    .d-1 {
        padding-bottom: 13px;
    }
    .badge-fond {
        padding-left: 2rem;
    }
    .place-1 {
        margin-bottom: 0px;
    }
    .cont-5 {
        margin-top: 24px;
    }
    .cont-6 {
        margin-top: 10px;
    }
    .content-3 {
        margin-top: 65px;
        margin-bottom: 66px;
    }
    .img-index-1 {
        margin-top: 44px;
    }
    .row1 {
        margin-top: 31px;
        margin-top: 33px;
    }
    .content-4 {
        margin-bottom: 70px;
    }
    .txt-special-win {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .txt-end {
        height: 45%;
    }
    .inf-param {
        margin-top: 56px;
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .sucesions-img {
        margin-top: 46px;
        margin-bottom: 46px;
    }
    .polylog {
        height: 16px;
        width: auto;
    }
}

@media (min-width: 840px) and (max-width: 1019px) {
    body {
        font-size: 14px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    header>.container-fluid {
        height: 39rem;
        padding-top: 3.188rem;
        background-size: 45rem;
        padding-bottom: 4.438rem;
    }
    footer {
        font-size: 11px;
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .img-log {
        width: 102px;
        height: 21px;
    }
    span {
        font-size: 8px;
    }
    .img-vk {
        width: 18px;
    }
    .partner-txt {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 27px;
    }
    .partner {
        margin-bottom: 70px;
    }
    .parnter-logo {
        padding-bottom: 17px;
    }
    .title {
        font-size: 3.688rem;
        line-height: 4.063rem;
    }
    .bar {
        width: 148.06px;
        height: 30.91px;
        padding-bottom: 102px;
        z-index: 2;
    }
    .bar-2 {
        width: 176.81px;
        height: 29.47px;
        z-index: 2;
    }
    .bar-3 {
        width: 115.56px;
        height: 48.16px;
        z-index: 2;
    }
    .inf {
        width: 379px;
        font-size: 16px;
        padding-top: 1.25rem;
        line-height: 24px;
    }
    .partner-txt {
        font-size: 28px;
        line-height: 40px;
    }
    .line-yellow {
        background-color: #FAB529;
        border-radius: 15px;
        padding-bottom: 22px;
        padding-left: 54px;
        padding-right: 54px;
        margin-bottom: 15px;
    }
    .winner-num {
        font-family: 'sn';
        font-size: 43px;
        margin-bottom: -9px;
    }
    .place {
        font-family: 'sm';
        font-size: 14px;
        color: #FAB529;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .sub-title-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    .sub-title-1-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 37px;
    }
    .num-6 {
        margin-top: 0px;
    }
    ul {
        padding-left: calc(var(--bs-gutter-x) * .75);
    }
    .title {
        font-size: 40px;
    }
    .title-2 {
        font-size: 40px;
        line-height: 48px;
    }
    .arrow {
        font-size: 50px;
        line-height: 23px;
        padding-right: 11px;
        padding-top: 0%;
        padding-left: 0px;
    }
    .img-win {
        margin-bottom: 20px;
    }
    .inf-win {
        width: 100%;
    }
    .about-win {
        margin-top: 43px;
        margin-bottom: 33px;
    }
    .text-37 {
        font-size: 19px;
    }
    .date-2 {
        font-size: 26px;
        color: #383937;
        padding: 2.77px 13.39px 1.85px 13.39px;
    }
    .d-1 {
        padding-bottom: 13px;
    }
    .badge-fond {
        padding-left: 2rem;
    }
    .place-1 {
        margin-bottom: 0px;
    }
    .cont-5 {
        margin-top: 9px;
    }
    .cont-6 {
        margin-top: 10px;
    }
    .content-3 {
        margin-top: 65px;
        margin-bottom: 66px;
    }
    .date-2 {
        margin-left: -45px;
    }
    .img-index-1 {
        margin-top: 44px;
    }
    .row1 {
        margin-top: 31px;
        margin-top: 33px;
    }
    .content-4 {
        margin-bottom: 70px;
    }
    .txt-special-win {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .txt-end {
        height: 45%;
    }
    .inf-param {
        margin-top: 56px;
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .sucesions-img {
        margin-top: 46px;
        margin-bottom: 46px;
    }
    .polylog {
        height: 16px;
        width: auto;
    }
}

@media (min-width: 1020px) and (max-width: 1240px) {
    header {
        margin-bottom: 35px;
    }
    body {
        font-size: 14px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    header>.container-fluid {
        height: 49rem;
        padding-top: 3.188rem;
        background-size: 55rem;
        padding-bottom: 4.438rem;
    }
    .title {
        font-size: 40px;
    }
    .title-2 {
        font-size: 40px;
        line-height: 48px;
    }
    .bar {
        width: 150px;
    }
    .bar-2 {
        width: 150px;
    }
    .bar-3 {
        width: 120px;
        height: 67px;
    }
    .date-2 {
        font-size: 27px;
    }
    .inf {
        font-size: 14px;
        width: 398px;
    }
    .img-log {
        width: 150px;
    }
    .txt-f {
        font-size: 15px;
    }
    .partner-txt {
        font-size: 19px;
        line-height: 27px;
    }
    span {
        font-size: 10px;
    }
    .line-yellow {
        background-color: #FAB529;
        border-radius: 51px;
        padding-bottom: 22px;
        padding-right: 13px;
        padding-left: 37px;
    }
    .winner-num {
        font-family: 'sn';
        font-size: 43px;
        margin-bottom: -9px;
    }
    .place {
        font-family: 'sm';
        font-size: 14px;
        color: #FAB529;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .sub-title-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 43px;
    }
    .sub-title-1-1 {
        font-family: 'sm';
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 0px;
    }
    .num-6 {
        margin-top: 10px;
    }
    ul {
        padding-left: calc(var(--bs-gutter-x) * .75);
    }
    .text-37 {
        font-size: 20px;
    }
    .badge-fond {
        padding-left: 2rem;
    }
    .date-2 {
        margin-left: 45px;
    }
    .place-1 {
        margin-bottom: 0px;
    }
    .img-index-1 {
        margin-top: 44px;
    }
    .row1 {
        margin-top: 41px;
        margin-top: 41px;
    }
    .content-4 {
        margin-bottom: 80px;
    }
    .inf-param {
        margin-top: 56px;
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .sucesions-img {
        margin-top: 46px;
        margin-bottom: 46px;
    }
    .arrow {
        font-size: 50px;
        line-height: 23px;
        padding-right: 11px;
        padding-top: 0%;
        padding-left: 0px;
    }
    .polylog {
        height: 16px;
        width: auto;
    }
}

@media (min-width: 1241px) and (max-width: 1690px) {
    body {
        font-size: 22px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    header>.container-fluid {
        height: 55rem;
        padding-top: 3.188rem;
        background-size: 62rem;
        padding-bottom: 4.438rem;
    }
    header {
        margin-bottom: 40px;
    }
    .title {
        font-size: 55px;
    }
    .title-2 {
        font-size: 55px;
        line-height: 60px;
    }
    .bar {
        width: 150px;
    }
    .bar-2 {
        width: 150px;
    }
    .bar-3 {
        width: 120px;
        height: 67px;
    }
    .inf {
        font-size: 22px;
        width: 398px;
    }
    .txt-f {
        font-size: 18px;
    }
    .partner-txt {
        font-size: 28px;
        line-height: 40px;
    }
    .line-yellow {
        background-color: #FAB529;
        border-radius: 15px;
        padding-bottom: 100px;
        padding-right: 40px;
        padding-left: 45px;
    }
    .winner-num {
        font-family: 'sn';
        font-size: 53px;
        margin-bottom: -9px;
    }
    .place {
        font-family: 'sm';
        font-size: 24px;
        color: #FAB529;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .sub-title-1 {
        font-family: 'sm';
        font-size: 34px;
        text-transform: uppercase;
        margin-top: 80px;
    }
    .sub-title-1-1 {
        font-family: 'sm';
        font-size: 34px;
        text-transform: uppercase;
        margin-top: 0px;
    }
    .num-6 {
        margin-top: 25px;
    }
    .text-37 {
        font-size: 33px;
    }
    .date-2 {
        margin-left: 65px;
    }
    .row1 {
        margin-top: 41px;
    }
    .place-1 {
        margin-bottom: 0px;
    }
    .txt-end {
        height: 40%;
    }
}