@font-face {
    font-family: 's';
    src: url(/fnt/Stem-Regular.woff2) format('woff2'), url(/fnt/Stem-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'sm';
    src: url(/fnt/Stem-Medium.woff2) format('woff2'), url(/fnt/Stem-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'sn';
    src: url(/fnt/Stem-Bold.woff2) format('woff2'), url(/fnt/Stem-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

body {
    font-family: s;
    font-size: 25px;
}

header {
    padding-top: 67px;
    background-color: black;
    padding-bottom: 67px;
}

.container-fluid {
    max-width: 1920px;
    padding-left: 100px;
    padding-right: 100px;
}

.fond {
    z-index: 1;
    width: 985px;
}

.title {
    font-family: sm;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

.bar {
    width: 206px;
    height: 43px;
    z-index: 2;
}

.bar-2 {
    width: 246px;
    height: 41px;
    z-index: 2;
}

.bar-3 {
    width: 160.79px;
    height: 67px;
    z-index: 2;
}

.inf {
    width: 609px;
    padding-top: 126px;
    color: #FFFFFF;
    z-index: 2;
}

.date {
    font-family: sm;
    font-size: 28px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

.date-2 {
    margin-left: 5px;
    margin-top: 9px;
    background: #FFCB08;
    border: 2px solid #FFCB08;
    box-sizing: border-box;
    border-radius: 48.4946px;
    font-family: s;
    font-size: 37px;
    line-height: 140%;
    color: #383937;
    z-index: 2;
    padding: 5.29px 25.57px 3.53px 25.57px;
}

footer {
    background-color: black;
    color: #FFFFFF;
    font-family: s;
    font-size: 21px;
    line-height: 30px;
    padding-top: 92px;
    padding-bottom: 88px;
}

span {
    font-family: s;
    font-size: 16px;
    line-height: 19px;
    color: #FAB529;
}

.logo-vk {
    width: 40px;
    height: 23px;
}

.content {
    padding-top: 122px;
}

.row1 {
    padding-top: 67px;
}

.text-34 {
    color: #FFCB08;
    font-size: 34px;
    text-transform: uppercase;
}

.text-34-1 {
    color: #383937;
    font-size: 34px;
    text-transform: uppercase;
    padding-top: 120px;
}

.text-25 {
    color: #383937;
    font-size: 25px;
}

.text-37 {
    font-size: 37px;
}

.text-37-1 {
    font-size: 37px;
    color: #FFCB08;
    padding-right: 173px;
}

.list-group>.list-group-item {
    border: none;
}

.badge {
    padding-right: 21px;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 8rem;
}

.g-2,
.gx-2 {
    --bs-gutter-x: 3rem;
}

.cont-2 {
    padding-top: 186px;
}

.img-1 {
    padding-top: 86px;
    padding-bottom: 64px;
}

.cont-3 {
    padding-top: 141px;
    padding-bottom: 141px;
}

.cont-4 {
    padding-top: 80px;
    padding-bottom: 84px;
}

.sub-cont {
    padding-top: 60px;
}

.bt-white {
    margin-top: 20px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 43.1163px;
    font-family: s;
    font-size: 25px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #383937;
    padding: 4px 19px 3px 18px;
}

.text-26 {
    font-family: sm;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list-group-flush>.list-group-item {
    background-color: #FFCB08;
    border-bottom: 2px solid rgba(7, 0, 0, 0.781);
    padding-left: 0%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.number {
    color: #383937;
    padding-right: 30px;
}

.sub-cont-2 {
    padding-top: 90px;
}

.d-1 {
    padding-bottom: 13px;
}

.d-2 {
    padding-top: 10px;
}

.down {
    font-size: 18px;
    margin-bottom: 0rem;
}

.space-1 {
    padding-top: 75px;
}
.partner-txt{
    font-family: s;
    color: #FFFFFF;
    font-size: 37px;
    line-height: 52px;
}
.partner{
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    header {
        padding-top: 57px;
        padding-bottom: 57px;
    }
    .inf-2 {
        padding-bottom: 30px;
        font-size: 19.3722px;
        line-height: 27px;
    }
    .list-group>.list-group-item {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .bar {
        width: 85.21px;
        height: 17.79px;
        padding-bottom: 56px;
        z-index: 2;
    }
    .bar-2 {
        width: 101.76px;
        height: 16.96px;
        z-index: 2;
    }
    .bar-3 {
        width: 66.51px;
        height: 27.71px;
        z-index: 2;
    }
    span {
        font-size: 8px;
    }
    .date {
        font-size: 14.6601px;
        padding-top: 338px;
    }
    .fond {
        width: 566px;
        height: 519px;
        object-fit: cover;
    }
    .text-37-1 {
        font-size: 19px;
        padding-right: 0px;
    }
    .date-2 {
        border: 2px solid #FFCB08;
        box-sizing: border-box;
        border-radius: 48.4946px;
        font-family: s;
        font-size: 19.3722px;
        color: #383937;
        padding: 2.77px 13.39px 1.85px 13.39px;
    }
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title {
        font-size: 32px;
    }
    .text-25 {
        font-size: 13px;
    }
    .content {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .row1 {
        padding-top: 19px;
    }
    .cont-2 {
        padding-top: 48px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .img-1 {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .text-37 {
        font-size: 19px;
    }
    .text-34 {
        font-size: 15px;
    }
    .text-34-1 {
        font-size: 15px;
        padding-top: 37px;
    }
    .cont-3 {
        padding-bottom: 37px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
    }
    .cont-4 {
        padding-top: 43px;
        padding-bottom: 43px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .sub-cont {
        padding-top: 32px;
    }
    .bt-white {
        margin-top: 10px;
        background: #FFFFFF;
        border: 1.5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24.7431px;
        font-size: 14px;
        padding: 2.3px 10.9px 1.72px 10.33px;
    }
    .text-26 {
        font-family: sm;
        font-size: 14px;
        padding-left: 15px;
    }
    .list-group-flush>.list-group-item {
        background-color: #FFCB08;
        border-bottom: 2px solid rgba(7, 0, 0, 0.781);
        padding-left: 0%;
    }
    .number {
        color: #383937;
        padding-right: 30px;
    }
    .sub-cont-2 {
        padding-top: 26px;
    }
    .img-log {
        width: 130.21px;
    }
    footer {
        font-size: 11px;
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .g-5,
    .gx-5 {
        --bs-gutter-x: 5rem;
    }
    .g-2,
    .gx-2 {
        --bs-gutter-x: 2rem;
    }
    .img-3 {
        width: 318px;
        height: auto;
        margin-bottom: 26px;
        align-self: flex-end!important;
    }
    .cont-7 {
        margin-top: 18px;
    }
    .cont-8 {
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .cont-9 {
        margin-bottom: 13px;
    }
    .partner-txt{
        font-size: 19px;
        line-height: 27px;
        margin-bottom: 28px;
    }
    .partner{
        margin-bottom: 99px;
    }
    .parnter-logo{
        width: 126.5px;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 839px) {
    .space-1 {
        padding-top: 75px;
    }
    header {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .i {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bar {
        width: 148.06px;
        height: 30.91px;
        padding-bottom: 102px;
        z-index: 2;
    }
    .bar-2 {
        width: 176.81px;
        height: 29.47px;
        z-index: 2;
    }
    .bar-3 {
        width: 115.56px;
        height: 48.16px;
        z-index: 2;
    }
    .inf {
        width: 379px;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 200px;
        line-height: 24px;
    }
    .fond {
        width: auto;
        height: 659px;
        object-fit: cover;
    }
    span {
        font-size: 8px;
    }
    .date {
        font-size: 20px;
    }
    .text-37-1 {
        font-size: 19px;
        padding-right: 0px;
    }
    .date-2 {
        font-size: 26px;
        color: #383937;
        padding: 2.77px 13.39px 1.85px 13.39px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    .title {
        font-size: 50px;
        line-height: 65px;
    }
    .text-25 {
        font-size: 14px;
    }
    .content {
        padding-top: 45px;
    }
    .row1 {
        padding-top: 31px;
    }
    .cont-2 {
        padding-top: 48px;
    }
    .img-1 {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .text-37 {
        font-size: 23px;
    }
    .text-34 {
        font-size: 14px;
    }
    .text-34-1 {
        font-size: 14px;
        padding-top: 37px;
    }
    .cont-3 {
        padding-top: 45px;
        padding-bottom: 37px;
    }
    .cont-4 {
        padding-top: 43px;
        padding-bottom: 43px;
    }
    .sub-cont {
        padding-top: 32px;
    }
    .bt-white {
        margin-top: 10px;
        background: #FFFFFF;
        border: 1.5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24.7431px;
        font-size: 14px;
        padding: 2.3px 10.9px 1.72px 10.33px;
    }
    .text-26 {
        font-family: sm;
        font-size: 14px;
        padding-left: 15px;
    }
    .list-group-flush>.list-group-item {
        background-color: #FFCB08;
        border-bottom: 2px solid rgba(7, 0, 0, 0.781);
        padding-left: 0%;
    }
    .number {
        color: #383937;
        padding-right: 30px;
    }
    .sub-cont-2 {
        padding-top: 29px;
    }
    footer {
        font-size: 11px;
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .g-5,
    .gx-5 {
        --bs-gutter-x: 3rem;
    }
    .g-2,
    .gx-2 {
        --bs-gutter-x: 2rem;
    }
    .img-3 {
        width: 347px;
        height: auto;
        align-self: flex-end!important;
    }
    .img-log {
        width: 102px;
        height: 21px;
    }
    .d-1 {
        padding-bottom: 13px;
        padding-left: 0px;
    }
    .img-vk {
        width: 18px;
    }
    .img-fb {
        width: 8px;
    }
    .down {
        font-size: 11px;
        margin-bottom: 0rem;
    }
    .cont-5 {
        margin-top: 18px;
    }
    .cont-6 {
        margin-top: 10px;
    }
    .partner-txt{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 27px;
    }
    .partner{
        margin-bottom: 70px;
    }
    .parnter-logo{
        width: 131px;
        height: auto;
    }
}

@media (min-width: 840px) and (max-width: 1919px) {
    .text-37-1 {
        font-size: 35px;
    }
    .text-37 {
        font-size: 35px;
    }
    .text-34 {
        font-size: 30px;
    }
    .bt-white {
        margin-top: 10px;
        background: #FFFFFF;
        border: 1.5px solid #FFFFFF;
        box-sizing: border-box;
        font-size: 22px;
        border-radius: 24.7431px;
        padding: 2.3px 10.9px 1.72px 10.33px;
    }
    .img-3 {
        height: 760px;
        align-self: flex-end!important;
    }
    .d-1 {
        padding-bottom: 13px;
    }
    .d-2 {
        padding-top: 10px;
    }
    .space-1 {
        padding-top: 160px;
    }
    .partner-txt{
        font-size: 28px;
        line-height: 40px;
    }
}
@media (min-width: 1020px) and (max-width: 1240px) {
    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
    }
    .title {
        font-size: 40px;
    }
    .bar {
        width: 150px;
    }
    .bar-2 {
        width: 150px;
    }
    .bar-3 {
        width: 120px;
        height: 67px;
    }
    .date-2{
        font-size: 27px;
    }
    .inf{
        font-size: 22px;
        width: 398px;
    }
    .fond {
        z-index: 1;
        width: 819px;
    }
    .img-3{
        height: auto;
        width: 100%;
        align-self: flex-start!important;
    }
    .text-37 {
        font-size: 25px;
    }
    .text-25 {
        font-size: 15px;
    }
    .text-37-1 {
        font-size: 25px;
    }
    .text-34-1 {
        font-size: 24px;
        padding-top: 27px;
    }
    .text-25-1{
        font-size: 25px;
    }
    .space-1 {
        padding-top: 349px;
    }
    .img-log{
        width: 150px;
    }
    .txt-f{
        font-size: 15px;
    }
    .partner-txt {
        font-size: 20px;
        line-height: 40px;
    }
    .list-group-flush>.list-group-item {
        padding-bottom: 12px;
        padding-top: 12px;
    }
}
@media (min-width: 1241px) and (max-width: 1490px) {
    .space-1 {
        padding-top: 180px;
    }
    .list-group-flush>.list-group-item {
        padding-bottom: 12px;
        padding-top: 12px;
    }
    .text-34-1 {
        padding-top: 27px;
    }
    .cont-8{
        margin-top: 30px;
    }
}
@media (min-width: 1491px) {
    .cont-8{
        margin-top: 50px;
    }
}
